@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.circle-red {
  background-color: red;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.circle-green {
  background-color: green;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
}

.leading-p4 {
  line-height: 4rem;
}
